/* UNIVERSAL STYLE */

* {
  margin: 0;
  padding: 0;
}

/* FONTS STYLE */
.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.poor-story-regular {
  font-family: "Poor Story", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* HEADER STYLE */

header {
  background-color: brown;
  margin-bottom: 10px;
}

/* NAV STYLE */

.navbar-brand {
  color: burlywood;
}

.navbar a:hover {
  color: rgb(100, 24, 24);
}

.nav-link {
  color: burlywood;
}

.nav-item a:hover {
  color: rgb(100, 24, 24);
}

.dropdown-menu {
  background-color: rgb(100, 24, 24);
  color: burlywood;
}
.dropdown-menu a:hover {
  background-color: brown;
  color: burlywood;
}

.dropdown-item {
  background-color: rgb(100, 24, 24);
  color: burlywood;
}

/* ICONS STYLE */

.bi-hand{
  font-size: 5px;
}

/* BODY STYLE */



body {
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: burlywood;
}

.during-work {
  margin-top: 200px;
}

.spinner-border {
  margin-top: 20px;
}

/* PRIMARY CONTENT STYLE */

.container-sm {
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.container-sm h1 {
  font-size: 250%;
  color: burlywood;
  background-color: brown;
  border-radius: 5px;
  margin: 20px 75px 20px 75px;
}

.container-sm h4 {
  color: burlywood;
  background-color: brown;
  border-radius: 5px;
  margin: 20px 50px 20px 50px;
}

.container-sm a {
  text-decoration: none;
}
/* ACCORDION STYLES */
.accordion {
  margin-bottom: 20px;
  --bs-accordion-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-bg: rgb(100, 24, 24);
  --bs-accordion-color: burlywood;
  --bs-accordion-btn-bg: brown;
  --bs-accordion-btn-color: burlywood;
  --bs-accordion-active-bg: brown;
  --bs-accordion-active-color: burlywood;
}

.card .accordion {
  margin-bottom: 20px;
  --bs-accordion-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-bg: rgb(100, 24, 24);
  --bs-accordion-color: burlywood;
  --bs-accordion-btn-bg: rgb(129, 34, 34);
  --bs-accordion-btn-color: burlywood;
  --bs-accordion-active-bg: rgb(100, 24, 24);
  --bs-accordion-active-color: burlywood;
}

/* TRAILER STYLE */

/* COROUSEL STYLE */

.carousel-item img {
  max-height: 60vh;
  border-radius: 20px;
}

/* COMMUNITY STYLE */

.community i {
  color: brown;
  font-size: 20vw;
}
.community i:hover {
  color: rgb(100, 24, 24);
}

/* MAP STYLE */
.map img {
  border-radius: 20px;
  max-width: 92vw;
  max-height: 80vh;
  margin-bottom: 20px;
}

/* FOOTER */

footer a {
  text-decoration: none;
  color: burlywood;
}

footer a:hover {
  color: rgb(146, 117, 79);
}
footer .card {
  --bs-card-bg: brown;
  --bs-card-color: burlywood;
  --bs-card-cap-bg: brown;
  --bs-card-cap-color: burlywood;
}

/* CAST.HTML */

.castpage .card .btn {
  --bs-btn-color: brown;
  --bs-btn-bg: burlywood;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: burlywood;
  --bs-btn-hover-bg: rgb(100, 24, 24);
  --bs-btn-active-color: brown;
  --bs-btn-active-bg: rgb(190, 149, 95);
}

/* rgb(212, 166, 106); */
.card {
  margin-bottom: 32px;
  --bs-card-bg: brown;
  --bs-card-color: burlywood;
  --bs-card-cap-bg: brown;
  --bs-card-cap-color: burlywood;
}

/* HOWAI.HTML */

/* .howai blockquote{
  background-color: brown;
  color: burlywood;
} */


.howai .card a {
  color: rgb(168, 133, 86);
}

/* FICHA CLASS */

.ficha span {
  box-shadow: 0px 8px 10px  rgb(145, 37, 37);
  font-size: 150%;
  margin: 15px;
  padding: 5px;
}

.ficha .linha .level{
  font-size: 300%;
}

.ficha .linha .epx{
  font-size: 125%;
}