/* UNIVERSAL STYLE */

*{
  margin: 0;
  padding: 0;
}

/* FONT STYLE */
.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}
/* HEADER STYLE */


header{
  background-color: brown;
  margin-bottom: 10px;
}

/* NAV STYLE */

.navbar-brand{
  color: antiquewhite;
}

.nav-link{
  color: antiquewhite;
}

.nav-item a:hover{
  color: rgb(100, 24, 24);
}



/* BODY STYLE */

body{
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: antiquewhite;
}


/* PRIMARY CONTENT STYLE */

#accordionExample{
  margin-bottom: 20px;
  background-color: brown;
  color: antiquewhite;
}
#collapseOne{
  margin-bottom: 20px;
  background-color: brown;
  color: antiquewhite;
}
.accordion{
  margin-bottom: 20px;
  background-color: brown;
  color: antiquewhite;
}
.ac-color{
  margin-bottom: 20px;
  background-color: brown;
  color: antiquewhite;
}
.accordion-button{
  margin-bottom: 20px;
  background-color: brown;
  color: antiquewhite;
}
.accordion-item{
  margin-bottom: 20px;
  background-color: brown;
  color: antiquewhite;
}
.accordion-body{
  margin-bottom: 20px;
  background-color: brown;
  color: antiquewhite;
}
.accordion-collapse{
  margin-bottom: 20px;
  background-color: brown;
  color: antiquewhite;
}
.accordion-header{
  margin-bottom: 20px;
  background-color: brown;
  color: antiquewhite;
}
.collapse{
  margin-bottom: 20px;
  background-color: brown;
  color: antiquewhite;
}
.show{
  margin-bottom: 20px;
  background-color: brown;
  color: antiquewhite;
}


.trailer{
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.trailer h5{
  color: antiquewhite;
  background-color: brown;
}

