/* UNIVERSAL STYLE */

* {
  margin: 0;
  padding: 0;
}

/* FONT STYLE */
.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}
/* HEADER STYLE */

header {
  background-color: brown;
  margin-bottom: 10px;
}

/* NAV STYLE */

.navbar-brand {
  color: antiquewhite;
}

.nav-link {
  color: antiquewhite;
}

.nav-item a:hover {
  color: rgb(100, 24, 24);
}

.dropdown-menu {
  background-color: rgb(100, 24, 24);
  color: antiquewhite;
}

.dropdown-item {
  background-color: rgb(100, 24, 24);
  color: antiquewhite;
}

/* BODY STYLE */

body {
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: antiquewhite;
}

/* PRIMARY CONTENT STYLE */

.accordion {
  margin-bottom: 20px;
  --bs-accordion-bg: brown;
  --bs-accordion-color: antiquewhite;
  --bs-accordion-btn-bg: brown;
  --bs-accordion-btn-color: antiquewhite;
  --bs-accordion-active-bg: rgb(100, 24, 24);
  --bs-accordion-active-color: antiquewhite;
}

.container-sm {
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.container-sm h4 {
  color: antiquewhite;
  background-color: brown;
}
